body {
	font-family: Arial, sans-serif;
}

.ombrage {
	box-shadow: 0px 0px 0px #fff;
	box-shadow: none;
	border: 2px solid #ccc;
}

.carousel .slide {
  z-indexms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.carousel .center .slide {
  	z-indexms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	zomm:1.3;
}

.intro-espece {
	background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0ffffff,endColorstr=#C0ffffff);
  zoom=1;
}