/*** ESSENTIAL STYLES ***/
.nav-main {
	padding-top: 110px;
	text-transform: uppercase;
}


.sf-menu, .sf-menu *{
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li {
	float: left;
}

.sf-menu > li > a {
	display: block;
	text-align: right;
}


.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}

.sf-vertical ul {
	left:	100%;
	top: 0;
	background: #fff;
}

.sf-vertical > li {
  float: none;
  width: 100%;
}

.nav-main .level-1 {
	border-top: 1px #ccc dashed;
}
.nav-main li {
	border-bottom: 1px #ccc dashed;
}
.nav-main .level-1 > li > a {
	padding: 4px;
	min-height: 50px;
	line-height: 50px;
}

.nav-main .level-1 > li > a span.icon {
	font-size: 1.5em;
}

.level-2 {
	min-width: 250px;
	border: 1px solid #ccc;
	border-left: none;
	padding: 10px;
}

.level-2 h2 {
	border-bottom: 1px #ccc dashed;
	padding: 10px;
	color: #10a4e4;
}

.column {
	width: 500px;
}

div.vbloc { 
  width:auto;
  max-width: 100px;
  margin-right: 10px;
  display:inline-block;
  vertical-align:middle;
  line-height: 1.4em;
  text-align:right; /* on rétablit l'alignement du texte */
  word-wrap: break-word;  
}

