body {
	border-top: 10px solid #29235c;
	background: url('../img/bg.jpg') no-repeat top left;
}


.container {
	width: 780px; 
	margin: 0;
	margin-left: 180px;
	padding: 0;
	position: relative;
}

.main {
	background: #fff;
	border: 1px solid #eee;
	position: relative;
	z-index: 50;
}

.hentry {
	min-height: 400px;
}

.home .hentry {
	min-height: 200px;
}

.wrapper {
	padding: 10px;
	position: relative;
}

.mainheader {
	height: 110px;
	padding-top: 20px;
	position: relative;
}
.brand {
	display: block;
}

#login {
	height: 50px;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 10;
}

.section {
	position: relative;
	margin-bottom: 10px;
	min-height: 300px;
}

.nav-section {
	width: 50px;
	position: absolute;
	top: 0;
	right: -50px;
}

.nav-section.affix {
	position: fixed;
	top: 10px;
	left: 960px;

}

.arrow a {
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: #29235c;
	text-align: center;
	display: block;	
	margin-bottom: 10px;
	margin-left: 10px;
	text-decoration: none;
	z-index: 80;
	float: left;
	color: #fff;
	font-size: 20px;
}

.content-info {
	padding: 10px 0 60px 0;
	background: url('../img/logo-prisma-footer.jpg') center bottom no-repeat;
}

/*Slider*/

.slide {
	background-size: 100%;
	position: relative;
}

.slide-caption {
	position: absolute;
	width: 100%;
	top: 0;
}

.slick-slider {
	margin-bottom: 0;
}

.slider-wrapper {
	position: relative;
}
.nav-slider {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 80;
}

.slick-slide {
	position: relative;
}

.count {
	position: absolute;
	bottom: 20px;
	right: 60px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	display: block;	
	text-decoration: none;
	z-index: 200;
	background: transparent;
	
}

.nav-footer li {
	display: inline;
}

.acces a {
	display: block;
	height: 380px;
	text-decoration: none;
	padding: 20px;
	word-wrap: break-word; 
}

.acces .h1 {
	font-size: 60px;
}

.pageScrollerNav {
	display: none;
}

.ombrage {
	-moz-box-shadow: 0px 0px 8px 0px #555;
	-webkit-box-shadow: 0px 0px 8px 0px #555;
	-o-box-shadow: 0px 0px 8px 0px #555;
	box-shadow: 0px 0px 8px 0px #555;
}

/*Searchform*/

.search-form .input-group-addon  {
	background: #fff;
	border-left: 1px dashed #ccc;
}


/*Breadcrumb*/

.breadcrumb {
	position: absolute;
	top: 0;
}

/*Accueil*/

.home .slider .slide {
	color: #29235c;
}

.slide .slide-caption {
	padding-top: 50px;
	min-height: 350px;
}

.home .slider .slide h1 {
	margin: 0;
}
.home .slider .slide hr {
	margin: 10px 0;
	border-color: #29235c;
}

.home .actus {
	padding: 0 40px;
	background: url('../img/bg-actus.png') top left no-repeat;
}

.home .actus h3, .home .actus .page-header *{
	margin: 0;
	margin-bottom: 4px;
}

.meta, .meta small {
	color: #10a4e4;
}

.home section.services, .home section.produits {
	background-size: 100%;
	background-color: #eee;
	background-repeat: no-repeat;
	color: #fff;
	padding: 20px;

}

.home .section .nav {
	padding: 10px;
	margin-right: 20px;
}
.home .section .nav li a {
	padding: 5px 1px;
	color: #fff;
	border-bottom: 1px dashed #fff;
}

.home .section .nav li:last-child a {
	border-bottom: none;
}

.home .section .nav li a:hover, .home .section .nav li a:active, .home .section .nav li a:focus {
	color: #29235c;
	background: rgba(255,255,255,0.2);
}

.home section.especes {
	background: #b0c01e url('../img/bg-especes.png') bottom center no-repeat;
	padding-top: 40px;
}

.home section.especes h1, .home section.especes h2 {
	margin: 0;
}

.home section.especes .carousel h2 {
	margin-top: 0.5em;
}

.home section.especes .desc {
	margin-left: 20px;
	padding-left: 20px;
	border-left: 1px dashed #29235c;
}

.carousel .slide {
	opacity:0.5;
	transition:all 300ms ease;
	margin-top: 50px;
}

.carousel .center {
	-moz-transform:scale(1.08);
	-ms-transform:scale(1.08);
	-o-transform:scale(1.08);
	-webkit-transform:scale(1.08);
	color:#29235c;
	opacity:1;
	transform:scale(1.3);
}

.carousel .owl-stage-outer {
	height: 300px;
}

/*Gabarit institutionel
*/

section.liste {
	font-size: 1.5em;
	font-family: 'advent-light';
}