body {
	border-top: 10px solid #29235c;
	background: url('../img/bg.jpg') no-repeat top left;
}

.container {
	width: 780px; 
	margin: 0;
	margin-left: 180px;
	padding: 0;
	position: relative;
}

.main {
	background: #fff;
	border: 1px solid #eee;
	position: relative;
	z-index: 50;
}

.wrapper {
	padding: 10px;
	position: relative;
}

.mainheader {
	height: 110px;
	padding-top: 20px;
	position: relative;
}
.brand {
	display: block;
}

#login {
	height: 50px;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 10;
}

.section {
	min-height: 300px;
	position: relative;
	margin-bottom: 20px;
}

.nav-section {
	width: 50px;
	position: absolute;
	top: 0;
	right: -50px;
}

.nav-section.affix {
	position: fixed;
	top: 10px;
	left: 960px;

}

.arrow a {
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: #ccc;
	text-align: center;
	display: block;	
	margin-bottom: 10px;
	margin-left: 10px;
	text-decoration: none;
	z-index: 80;
	float: left;
}

/*Slider*/

.slider-wrapper {
	position: relative;
}
.nav-slider {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 80;
}

.slick-slide {
	position: relative;
}

.count {
	position: absolute;
	bottom: 20px;
	right: 60px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	display: block;	
	text-decoration: none;
	z-index: 200;
	background: transparent;
}

.nav-footer li {
	display: inline;
}

.acces {
	background: #ccc;
	padding: 10px;
}

.pageScrollerNav {
	display: none;
}

.ombrage {
	-moz-box-shadow: 0px 0px 4px 0px #000;
	-webkit-box-shadow: 0px 0px 4px 0px #000;
	-o-box-shadow: 0px 0px 4px 0px #000;
	box-shadow: 0px 0px 4px 0px #000;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#ccc, Direction=NaN, Strength=10);
}