body {
	border-top: 10px solid #29235c;
	background: url('../img/bg.jpg') no-repeat top left;
}

.container {
	width: 780px !important; 
	margin: 0;
	margin-left: 130px;
	padding: 0;
}

.main {
	background: #fff;
	border: 1px solid #eee;
	padding: 10px;
	position: relative;
}

.mainheader {
	height: 110px;
}

.nav-main {
	width: 130px;
	padding-top: 110px;
	position: absolute;
	top: 10px;
	left: 0;
}

.section {
	height: 500px;
	position: relative;
}

.nav-section {
	width: 50px;
	position: absolute;
	top: 0;
	right: -60px;
}

.nav-footer li {
	display: inline;
}