
@font-face {
	font-family: 'advent';
	src: url('../fonts/advent-Regular.eot?') format('eot'), 
	     url('../fonts/advent-Regular.otf')  format('opentype'),
	     url('../fonts/advent-Regular.woff') format('woff'), 
	     url('../fonts/advent-Regular.ttf')  format('truetype'),
	     url('../fonts/advent-Regular.svg#advent-Regular') format('svg');
}

@font-face {
	font-family: 'advent-light';
	src: url('../fonts/advent-Lt1.eot?') format('eot'), 
	     url('../fonts/advent-Lt1.otf')  format('opentype'),
	     url('../fonts/advent-Lt1.woff') format('woff'), 
	     url('../fonts/advent-Lt1.ttf')  format('truetype'),
	     url('../fonts/advent-Lt1.svg#advent-Lt1') format('svg');
}

@font-face {
	font-family: 'advent-bold';
	src: url('../fonts/../fonts/advent-Bd1.eot?') format('eot'), 
	     url('../fonts/advent-Bd1.otf')  format('opentype'),
	     url('../fonts/advent-Bd1.woff') format('woff'), 
	     url('../fonts/advent-Bd1.ttf')  format('truetype'),
	     url('../fonts/advent-Bd1.svg#advent-Bd1') format('svg');
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?7mkpu5');
	src:url('../fonts/icomoon.eot?#iefix7mkpu5') format('embedded-opentype'),
		url('../fonts/icomoon.woff?7mkpu5') format('woff'),
		url('../fonts/icomoon.ttf?7mkpu5') format('truetype'),
		url('../fonts/icomoon.svg?7mkpu5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-accueil:before {
	content: "\e600";
}
.icon-contact:before {
	content: "\e601";
}
.icon-ruminants:before {
	content: "\e602";
}
.icon-espace-client:before {
	content: "\e603";
}
.icon-especes:before {
	content: "\e604";
}
.icon-factory:before {
	content: "\e605";
}
.icon-volailles:before {
	content: "\e606";
}
.icon-gear:before {
	content: "\e607";
}
.icon-heart:before {
	content: "\e608";
}
.icon-cheval:before {
	content: "\e609";
}
.icon-map:before {
	content: "\e60a";
}
.icon-pet-food:before {
	content: "\e60b";
}
.icon-porc:before {
	content: "\e60c";
}
.icon-pin:before {
	content: "\e60d";
}
.icon-prisma:before {
	content: "\e60e";
}
.icon-produits:before {
	content: "\e60f";
}
.icon-retd:before {
	content: "\e610";
}
.icon-search:before {
	content: "\e611";
}
.icon-sites:before {
	content: "\e612";
}
.icon-tag:before {
	content: "\e613";
}
.icon-target:before {
	content: "\e614";
}
.icon-users:before {
	content: "\e615";
}
.icon-file:before {
	content: "\e616";
}
.icon-folder-open:before {
	content: "\e617";
}
.icon-tag2:before {
	content: "\e618";
}
.icon-tags:before {
	content: "\e619";
}
.icon-download:before {
	content: "\e61a";
}
.icon-libreoffice:before {
	content: "\e61b";
}
.icon-file-pdf:before {
	content: "\e61c";
}
.icon-file-openoffice:before {
	content: "\e61d";
}
.icon-file-word:before {
	content: "\e61e";
}
.icon-file-excel:before {
	content: "\e61f";
}
.icon-file-zip:before {
	content: "\e620";
}
.icon-pencil:before {
	content: "\e621";
}
.icon-arrow-left:before {
	content: "\e622";
}
.icon-arrow-down:before {
	content: "\e623";
}
.icon-arrow-up:before {
	content: "\e624";
}
.icon-arrow-right:before {
	content: "\e625";
}
.icon-twitter:before {
	content: "\e626";
}
.icon-facebook:before {
	content: "\e627";
}
.icon-googleplus:before {
	content: "\e628";
}
.icon-linkedin:before {
	content: "\e629";
}

/*** ESSENTIAL STYLES ***/
.nav-main {
	width: 180px;
	padding-top: 110px;
	position: absolute;
	left: -180px;
	text-transform: uppercase;
}


.sf-menu, .sf-menu *{
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li {
	float: left;
}

.sf-menu > li > a {
	display: block;
	text-align: right;
}


.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}

.sf-vertical ul {
	left:	100%;
	top: 0;
	background: #fff;
}

.sf-vertical > li {
  float: none;
  width: 100%;
}

.nav-main .level-1 {
	border-top: 1px #ccc dashed;
}
.nav-main li {
	border-bottom: 1px #ccc dashed;
}
.nav-main .level-1 > li > a {
	padding: 4px;
	min-height: 50px;
	line-height: 50px;
}

.nav-main .level-1 > li > a span.icon {
	font-size: 1.5em;
}

.level-2 {
	min-width: 250px;
	border: 1px solid #ccc;
	border-left: none;
	padding: 10px;
}

.level-2 h2 {
	border-bottom: 1px #ccc dashed;
	padding: 10px;
	color: #10a4e4;
}

.column {
	width: 500px;
}

div.vbloc { 
  width:auto;
  max-width: 100px;
  margin-right: 10px;
  display:inline-block;
  vertical-align:middle;
  line-height: 1.4em;
  text-align:right; /* on rétablit l'alignement du texte */
  word-wrap: break-word;  
}

