body {
	border-top: 10px solid #29235c;
	background: url('../img/bg.jpg') no-repeat fixed top right;
}

.container {
	width: 1140px;
	position: relative;
}

.nav-main {
	width: 180px;
	position: fixed;
	left: 50%;
	margin-left: -570px;
	z-index: 500;
}

.reseaux {
	text-align: right;
	padding: 0.2em;
	border-top: 5px solid #29235c;
	font-size: 2.2em;
}
.reseaux a:hover, .reseaux a:focus {
	text-decoration: none;
	color: #10a4e4;
}

.reseaux .socicon-facebook {
	color: #3c599b;
}
.reseaux .socicon-twitter {
	color: #56a2dc;
}
.reseaux .socicon-googleplus {
	color: #dd4c3b;
}
.reseaux .socicon-pinterest {
	color: #cf2027;
}
.reseaux .socicon-youtube {
	color: #e32a28;
}

@media (max-width: 1140px) {

	.nav-main {
		left: 570px;
	}
}

.wrap {
	width: 780px; 
	margin: auto;
	padding: 0;
	position: relative;
	z-index: 0;
}

.main {
	background: #fff;
	position: relative;
	z-index: 50;
}

.hentry h3 {
	color: #29235c;
	text-transform: none;
}

.home .hentry {
	min-height: 200px;
}

.wrapper {
	padding: 10px;
	position: relative;
}

.mainheader {
	height: 110px;
	padding-top: 20px;
	position: relative;
}
.brand {
	display: block;
}

#login {
	height: auto;
	position: absolute;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 10;
	padding-left: 10px;
	
}

#login .btn {
	border-bottom: 5px solid #29235c;
	text-transform: uppercase;
	text-align: left;
	padding: 10px;
}

.section {
	position: relative;
	margin-bottom: 10px;
}

/*.section .wrapper {
	min-height: 350px;
}*/

.section-header {
	border-bottom: 10px solid #ccc;
}

.section-footer {
	padding-top: 10px;
	border-bottom: dashed 1px #333;
	margin-bottom: 10px;
}

/*Navigation section */

.pageScrollerNav {
	display: none;
}

.nav-section {
	width: 50px;
	position: fixed;
	top: 120px;
	right: 50%;
	margin-right: -450px;
}

@media (max-width: 1140px) {
.nav-section {
	right: 450px;
	}
}

.arrow a {
	width: auto;
	min-width: 40px;
	height: auto;
	padding: 10px;
	background: #10a4e4;
	text-align: center;
	display: block;	
	margin-left: 10px;
	text-decoration: none;
	float: left;
	color: #fff;
	cursor: pointer;
}

.nav-section.arrow a {
	margin-bottom: 10px;
	background: #29235c;
	
}

/*Footer*/

.content-info {
	padding: 10px 0 60px 0;
	background: url('../img/logo-prisma-footer.jpg') center bottom no-repeat;
}

.nav-footer a {
	color: #999;
}

/*Slider*/

.slide {
	background-size: 100%;
	position: relative;
}

.slide-caption {
	position: absolute;
	width: 100%;
	min-height: 200px;
	top: 0;
	left: 0;
	z-index: 800;
}

.slick-slider {
	margin-bottom: 0;
}

.slider-wrapper {
	position: relative;
}
.nav-slider {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 80;
}

.slick-slide {
	position: relative;
}

.count {
	position: absolute;
	bottom: 20px;
	right: 60px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	display: block;	
	text-decoration: none;
	z-index: 200;
	background: transparent;
	
}

.nav-footer li {
	display: inline;
}

.acces a {
	display: block;
	height: 380px;
	text-decoration: none;
	padding: 20px;
	word-wrap: break-word; 
}

.acces .h1 {
	font-size: 60px;
}

.ombrage {
	-moz-box-shadow: 0px 0px 4px 0px #999;
	-webkit-box-shadow: 0px 0px 4px 0px #999;
	-o-box-shadow: 0px 0px 4px 0px #999;
	box-shadow: 0px 0px 4px 0px #999;
	border: 1px solid #ccc;
}

.subtitle {
	margin: 0;
}

/*Searchform*/

.search-form .input-group-addon  {
	background: #fff;
	border-left: 1px dashed #ccc;
}


/*Breadcrumb*/

.breadcrumb {
	position: absolute;
	top: -6px;
	width: auto;
}

.breadcrumb a {
	color: #fff;
}

.breadcrumb li.active {
	font-family: 'advent-bold';
}

/*Accueil*/

.home .slider .slide {
	color: #29235c;
}

.slide .slide-caption {
	padding-top: 50px;
	min-height: 350px;
}

.home .slider .slide h1 {
	margin: 0;
}
.home .slider .slide hr {
	margin: 10px 0;
	border-color: #29235c;
}

.home .actualites {
	padding: 0 40px;
	background: url('../img/bg-actus.png') top left no-repeat;
}

.home .actualites h3, .home .actualites .page-header *{
	margin: 0;
	margin-bottom: 4px;
}

/*Actus Meta*/

.meta {
	text-transform: none;
}

.meta, .meta small {
	color: #10a4e4;
}

.meta .zoom-sur {
	color: #e52d3e;
}

.meta .produits {
	color: #29235c;
}

.meta .evenements {
	color: #b0c01e;
}

/*Navigation services & produits page d'accueil */

.section .nav {
	padding: 10px;
	margin-right: 20px;
}
.section .nav li a {
	padding: 5px 1px;
	color: #fff;
	border-bottom: 1px dashed #fff;
}

.section .nav li:last-child a {
	border-bottom: none;
}

.section .nav li a:hover, .section .nav li a:active, .section .nav li a:focus {
	background: rgba(255,255,255,0.2);
}

.accueil-services, .accueil-produits {
	color: #fff;
}

/*Carousel*/

.section-carousel {
	background: #b0c01e url('../img/bg-especes.png') bottom center no-repeat;
	color: #fff;
	padding: 40px 0;
}

.section-carousel h1, .section-carousel h2 {
	margin: 0;
}

.section-carousel .carousel h2 {
	margin-top: 0.5em;
}

.section-carousel .desc {
	margin-left: 20px;
	padding-left: 20px;
	border-left: 1px dashed #29235c;
}

.carousel .slide {
	opacity:0.5;
	transition:all 300ms ease;
	margin-top: 50px;
	 /* IE 8 */
}

.carousel .center .slide {
	-moz-transform:scale(1.08);
	-ms-transform:scale(1.08);
	-o-transform:scale(1.08);
	-webkit-transform:scale(1.08);
	color:#29235c;
	opacity:1;
	transform:scale(1.3);
	margin: 50px 0;
}

.carousel .owl-stage-outer {
	min-height: 350px;
}

/*Gabarit Especes */

.intro-espece {
	position: absolute;
	z-index: 100;
	width: 40%;
	padding: 20px;
	background: rgba(255,255,255,0.8);
	height: 100%;
}

/*Gabarit institutionel
*/

.bg-intro {
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #e9e9e9;
	background-position: top left;
	min-height: 450px;
	color: #fff;
	padding-top: 50px;
	border-bottom: solid 10px #eee;
}


section.liste {
	font-size: 1.5em;
	font-family: 'advent-light';
}

.page-template-page-institutionnelle-php .section h2 {
	margin-top: 2em;
}

.page-template-page-institutionnelle-php .section h2.subtitle {
	margin-top: 0.5em;
}

/*Gabarit presse */

img.thumbnail.pull-right {
	margin-left: 1em;
}

/*Contact*/

.section-contact {
	border-top: 10px solid #10a4e4;
}
/*Actus */

.archive .h3 {
	margin-top: 0;
}

/*Sidebar*/

.sidebar .wrapper {
	padding: 10px 0 0 10px;
}

.sidebar .widget {
	margin-bottom: 10px;
	background: #fff;
}

.widget-title {

	margin: 0;
	text-align: center;
	padding: 10px;
	border-bottom: 5px solid #29235c;

}

.themes .widget-title {
	border-color: #333;
}

.sidebar .archives .nav li {
	border-bottom: solid 2px #ddd;
}

.sidebar .themes .nav li {
	border-bottom: dotted 2px #ddd;
}

.sidebar .themes .nav li a:hover, .sidebar .themes .nav li.current-cat a {
	border-left: solid 4px #10a4e4;
}
.sidebar .themes .nav li.cat-item-11 a:hover, .sidebar .themes .nav li.cat-item-11.current-cat a {
	border-left: solid 4px #b0c01e;
}
.sidebar .themes .nav li.cat-item-6 a:hover, .sidebar .themes .nav li.cat-item-6.current-cat a {
	border-left: solid 4px #29235c;
}
.sidebar .themes .nav li.cat-item-10 a:hover, .sidebar .themes .nav li.cat-item-10.current-cat a {
	border-left: solid 4px #e52d3e;
}


.sidebar .nav li:last-child {
	border: none;
}


/*** ESSENTIAL STYLES ***/
.nav-main {
	padding-top: 110px;
	text-transform: uppercase;
	font-size: 0.85em;
}


.sf-menu, .sf-menu *{
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
}
.sf-menu > li {
	float: left;
}

.sf-menu > li > a {
	display: block;
	text-align: right;
}


.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}

.sf-vertical ul {
	left:	100%;
	top: 0;
	background: #fff;
}

.sf-vertical > li {
  float: none;
  width: 100%;
}

.nav-main .level-1 {
	border-top: 1px #ccc dashed;
}
.nav-main li + li {
	border-top: 1px #ccc dashed;
}

.nav-main .level-1 > li > a {
	padding: 4px;
	min-height: 50px;
	line-height: 50px;
}

.nav-main .level-1 > li > a span.icon {
	font-size: 1.5em;
}

.level-2 {
	min-width: 250px;
	border: 1px solid #ccc;
	border-left: none;
	padding: 10px;
	z-index: 800;
}

.level-2 h2 {
	border-bottom: 1px #ccc dashed;
	padding: 10px;  
}

.column {
	width: 500px;
}

div.vbloc { 
  width:auto;
  max-width: 130px;
  margin-right: 10px;
  display:inline-block;
  vertical-align:middle;
  line-height: 1.4em;
  text-align:right; /* on rétablit l'alignement du texte */
  word-wrap: break-word;  
}

